body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/imgs/city.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

a:hover {
  cursor: pointer;
}

.pagination>.active>a {
  background-color: #35373a;
  border-color: #35373a;
}

.pagination>.active>a:hover {
  background-color: #1e1f21;
  border-color: #1e1f21;
}

.pagination>li>a {
  color: #35373a;
}

.nav {
  font-family: coco-gothic;
  text-align: center;
  width: 100vw;
  position: sticky;
  z-index: 999;
}

.index {
  text-align: center;
}

.info {
  display: inline-block;
  min-width: 80vw;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.title {
  text-align: center;
  color: #f7f5e8;
  font-family: coco-gothic-caps;
  /*border-bottom: thin solid #f7f5e8;*/
}

.params {
  margin-top: 20px;
  text-align: justify;
  color: #f7f5e8;
}

.par {
  border-bottom: thin solid #f7f5e8;
  min-width: 30vw;
  display: inline-block;
  padding-bottom: 8px;
}

#monitores {
  text-align: center;
}

#fbicon {
  height: 25px;
  width: 25px;
  box-shadow: none;
}

.thumbnail img {
  height: 50%;
  width: 50%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:30px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 100%;
}

@font-face {
  font-family: coco-gothic;
  src: url('../assets/fonts/coco-gothic/CocoGothic-Light_trial.ttf');
}

@font-face {
  font-family: coco-gothic-caps;
  src: url('../assets/fonts/coco-gothic/Coco-Gothic-SmallCaps-Bold.ttf');
}
