body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  
  /*background-image: url('http://www.planwallpaper.com/static/images/background-wallpapers-32.jpg');*/

}

.nav {
  font-family: coco-gothic;
  text-align: center;
  position: fixed;
  width: 100vw;
}


@font-face {
  font-family: tecnico;
  src: url('../assets/fonts/tecnico/tecnico_regular.ttf');
}

@font-face {
  font-family: coco-gothic;
  src: url('../assets/fonts/coco-gothic/CocoGothic-Light_trial.ttf');
}
